span {
  display: inline-block;
}

.newspaper {
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
  background-color: antiquewhite;
}

.magazine1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  background-color: teal;
  color: white;
}

.magazine2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  background-image: url('./images/pink-pattern.png');
  color: fuchsia;
}

.medium {
  padding: 8px;
  font-size: 20px;
}

.big {
  padding: 10px;
  font-size: 30px;
}

.reallybig {
  padding: 15px;
  font-size: 40px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
